<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p> En esta página puedes consultar el tiempo en cualquier ciudad!</p>

        <form>
            <input placeholder="Ciudad">
            <button>Buscar</button>
        </form>

        
        <p id="message-1"></p>
        <p id="message-2"></p>
        <img id="weather-icon" class="">
        <p id="temperature"></p>
        <p id="humidity"></p>
        <p id="rain"></p>
        <p id="cloudy"></p>
        <p id="wind"></p>
        <p id="pressure"></p>
    </div>
    
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>